@font-face {
    font-family: "nunito exb";
    src: url(../fonts/Nunito-ExtraBold.ttf);
}

@font-face {
    font-family: "nunito l";
    src: url(../fonts/Nunito-Light.ttf);
}

@font-face {
    font-family: "nunito reg";
    src: url(../fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family: 'nunito b';
    src: url(../fonts/Nunito-Bold.ttf);
}